.container{    
    
    display: flex;
    flex-direction: column;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    align-items: center;
 
    
}
.nomePark p{
    font-size: 40px;
}
.inputs{
margin-bottom: 40px;
}
.tabela{
    border: 3px solid black;
    width: 450px;
}
.tabela th{
    margin-top: 50px;
    font-size: 18px;
    border: 2px solid black;
    padding: 10px;
    align-items: center;
    
}
.tabela td{
    border: 1px solid black;
    align-items: center;
}
